html{
    /*transform:scaleX(0.5);*/
    font-size: 150%;
}
body{
}
div{
    margin:0 0;
    overflow: hidden;
}
.wrapper{
    margin: auto;
    width:55rem;
    background-color: #3D9AD1;
    box-shadow: 0 0 25px 5px grey
}
.wrapperChild{
    height:6rem;
    background-color: #9702A7;
 }
.myPhoto{
    display: inline-block;
    width:5.9rem;
    height: 5.9rem;
    background-color: #FF8C00;
    border-radius: 3rem;
    box-shadow:0 0 12px 4px grey;
    margin-right: 10rem;
}

p{
    float: right;
    margin-right: 19rem;
    margin-top:0rem;
    font-size: 5.3rem;
    font-family: simHei;
    color: #ffffff;
}
.content{
    width:52rem;
    height: 80rem;
    margin:1.5rem auto;
    background-color: #FF8C00;
    box-shadow: 0 0 20px 5px grey;
}
.content>div{
    width:50rem;
    height: 12.55rem;
    margin:1rem auto;
}
.picture{
    float: left;
    height: inherit;
    width:12rem;
}
.instruction1{
    width:37.5rem;
    height:12rem;
    margin-top:0.3rem;
    display: inline-block;
    background-color: #ffffff;
    box-shadow: 0 0 20px 7px #656565;
    
}
.picture0{
    width:4rem;
    height: 4rem;
    border-radius: 2rem;
    background-color:aquamarine;
    margin:0 auto;
    box-shadow: 0 0 15px 3px grey
}
.picture1{
    width:8rem;
    height: 8rem;
    background-color:red;
    border-radius:5rem;
    margin:0.3rem auto;
    box-shadow: 0 0 20px 3px #6a6a6a;
}
.topic1{
    widows: inherit;
    height: 4rem;
    background-color: #5e52eb;
}
.shortIns1{
    width: inherit;
    height: inherit;
    background-color:azure;
}
.date{
    dispaly:block;
    width:3rem;
    height:1.2rem;
    margin: 1.4rem auto;
    font-family: simHei;
    font-size: 1.2rem;
    color:darkcyan
}
